# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual environments
.venv/
venv/
ENV/
env/

# Editor/IDE configs
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# Data files/figures that might be too large (optional, but good practice)
*.hdf5
*.pkl
*.npy
*.npz
